@font-face {
    font-family: 'sabon';
    src: url('font/sabon_bold-webfont.woff'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'day_n_nite';
    src: url('font/day_n_nite_free_trial-webfont.woff'); 
    font-weight: normal;
    font-style: normal;
}

/* start of global css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "sabon";
    text-decoration: none;
    /* outline: none;
    border: none;
    text-decoration: none; */
}

html {
    scroll-behavior: smooth;
}

/* link style */
.link {
    text-decoration: none;
    color: #E60965;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;

}

.container{
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
    
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
    
}

p {
	color: black;
	font-size: 1.2rem;
	margin-top: 5px;
	line-height: 2rem;
	font-weight: 200;
	letter-spacing: 0.05rem;
}

section{
    padding: 100px 0;
}

.section-title {
	color: black;
    margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
    font-size: 75px;
    font-weight: 500;
    font-family: 'day_n_nite';
}
.section-title span {
	color: #E60965;
}

.cta{
    font-size: 1.5rem;
    padding: 20px 60px;
    display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color:  #E60965;
    border-radius: 6px;
	border: 2px solid #E60965;
	letter-spacing: 0.1rem;
	margin-top: 20px;
	transition: all 0.3s ease;
   

}

.cta:hover {
	color: #E60965;
	background-color: transparent;
}

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #FFC0D3;
    right: 30px;
    bottom: 30px;
    text-align: center;
    line-height: 45px;
    z-index: 1;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show{
    opacity: 1;
    pointer-events: auto;
    bottom: 30px;
}

.typing{
    color: #E60965;
}

#about .about-content, #skills .skills-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: row; */
}

/* Start of navigation bar */
.navbar{
    position: fixed;
    width: 100%;
    background-color: rgba(255, 192, 211, 0.3);
    padding: 15px 0;
    transition: all 0.3s ease;
    z-index: 1;
}

.navbar.sticky{
    padding: 15px 0;
    background-color: #FFC0D3;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: black;
    font-size: 35px;
    font-weight: 600;
    font-family: 'day_n_nite';
    color: #E60965;

}

.navbar .menu li{
    list-style: none;
    display: inline-block;

}
.navbar .menu li a{
    color: black;
    font-size: 18px;
    font-weight: 300px;
    margin-left: 20px;
    font-family: 'sabon';
    transition: color 0.3s ease;

}

.navbar .menu li a:hover{
    color: #E60965

}


/* end of navbar */

/* start of menu-btn */

.menu-btn{
    color: #E60965;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* Start of home section */

.home{
    display: flex;
    background: url("images/1st.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    height: 100vh;
    min-height: 500px;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .homeContent .text{
    font-size: 30px;
}

.home .homeContent .name{
    font-size: 75px;
    font-weight: 500;
    margin-left: -3px;
    font-family: 'day_n_nite';
    margin-top: 20px;
}
.home .homeContent .title{
    font-size: 40px;
    margin: 5px 0;

}
.home .homeContent .title span{
    color: #E60965;
    font-weight: 500;
}


/* end of home section */

/* start of about section */


#about  {
	/* flex-direction: column-reverse; */
	/* text-align: center; */
	/* max-width: 1200px; */
	margin: 0 auto;
	/* padding: 100px 0px;  */
    flex-direction: row;
}

#about .title, #skills .title{
    position: relative;
    font-family: 'day_n_nite';
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

#about .title::before, #skills .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background:#E60965;
    transform: translateX(-50%);
}

#about .title::after, #skills .title::after{
    content: "who i am";
    position: absolute;
    bottom: -12px;
    left: 50%;
    padding: 5px;
    background: #fff;
    font-size: 20px;
    transform: translateX(-50%);
    color: #E60965;
}


#about .about-content .col-left {
	width: 45%;
    

}

#about .about-content .col-right {
	width: 55%;
    
    /* align-items: center; */
   
}
#about .about-content .col-right .text {
	font-size:25px;
	font-weight: 600;
	margin-bottom: 10px;
}
#about .about-content .col-right .text span{
	color: #E60965;
    
}

#about .about-content .col-right p {
	text-align: justify;
}



#about .about-content .col-left .about-img {
	height:400px;
	width: 350px;
	position: relative;
	border: 10px solid ;
    border-color: white;
}
#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid ;
	z-index: -1;
   

}

#about .about-content .col-left .about-img::after {
    left: -45px;
    top: 34px;
    height: 98%;
    width: 98%;
    border: 10px solid;
    border-color: #E60965;
    
}



/* End About Section */

/* Start of my skills section */
#skills{
    background-color: #FCD8D4;
}
#skills .title::after{
    content: "what i know";
    background-color: #FCD8D4;
    
}

#skills .skills-content .column{
    width: calc(50% - 30px);
}
#skills .skills-content .left .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #E60965;
}

#skills .skills-content .left .p{
    text-align: justify;
}

#skills .skills-content .right .bars{
    margin-bottom: 15px;

}

#skills .skills-content .right .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;

}

#skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;

}

#skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background-color: lightgray;
    position: relative;
}

#skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    
    left: 0;
    top: 0;
    background: #E60965;
}

.skills-content .right .python::before{
    width: 80%;
}

.skills-content .right .html::before{
    width: 70%;
}

.skills-content .right .js::before{
    width: 85%;
}

.skills-content .right .css::before{
    width: 60%;
}
.skills-content .right .bootstrap::before{
    width: 85%;
}
.skills-content .right .pern::before{
    width: 90%;
}
/* Start of Portfolio Section */


#portfolios  {
    flex-direction: column;
    margin: 0 auto;
    padding: 50px 0;
    /* max-width: 1200px; */
    background-color: #FDF6F0;
}


#portfolios .title {
    position: relative;
    font-family: 'day_n_nite';
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 60px;
    padding-bottom: 20px;
}
#portfolios .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background:#E60965;
    transform: translateX(-50%);
}
#portfolios .title::after{
    content: "what I did so far";
    position: absolute;
    bottom: -12px;
    left: 50%;
    padding: 5px;
    background: #FDF6F0;
    font-size: 20px;
    transform: translateX(-50%);
    color: #E60965;
}
#portfolios .portfolio-item {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    border-radius: 10px;
    /* margin: 20px auto; */
    overflow: hidden;
    max-width: 1200px;
	
}

#portfolios .portfolioList{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#portfolios .portfolio-item:nth-child(even) {
    flex-direction: row-reverse;
}
#portfolios .portfolio-item {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
}
#portfolios .portfolioList .portfolio-info {
    height: 100%;
}
#portfolios .portfolio-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: #FFC0D3;
    color: black;
}

#portfolios .portfolio-info a:hover {
	text-decoration: underline;
    text-decoration-color: #E60965;
}

#portfolios .portfolio-info h1 {
	font-size: 3rem;
	font-weight: 400;
    padding: 10px 10px;
    font-family: 'day_n_nite';
    color: #E60965;
}

#portfolios .portfolio-info p {
	color: #28231D;
    font-size: 20px;
    text-align: justify;
    position: relative;
}
#portfolios .portfolio-info p span{
	font-style: italic;
}

#portfolios .portfolioList .portfolio-img {
    height: 100%;
}

#portfolios .portfolio-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#portfolios .portfolio-img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #524A4E 40%, #FF8DC7 100%);
    opacity: 0.7;
}
#portfolios .portfolio-img img {
    transition: 0.3s ease transform;
}
#portfolios .portfolio-item:hover .portfolio-img img {
    transform: scale(1.1);
}

#portfolios .portfolio-item:nth-child(even) {
    flex-direction: row-reverse;
}

/* contact section */

#contact{
    display: flex;
    background: url("https://images.unsplash.com/photo-1506619216599-9d16d0903dfd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

#contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
   
    
}
#contact .title{
    position: relative;
    font-family: 'day_n_nite';
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

#contact .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background:#E60965;
    transform: translateX(-50%);
}

#contact .title::after{
    content: "let us grab a cup";
    position: absolute;
    bottom: -12px;
    left: 50%;
    padding: 5px;
    background: #eedcc8;
    font-size: 20px;
    transform: translateX(-50%);
    color: #E60965;
}

#contact .contact-content .column{
    width: calc(50% - 30px);
}


#contact .contact-content .text{
    margin-bottom: 10px;
    font-size:25px;
	font-weight: 600;
    color: #E60965;
}


#contact .contact-content .left p{
    text-align: justify;

}

#contact .contact-content .left .icons{
    margin: 10px 0;
}

#contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}

#contact .contact-content .row .info{
    margin-left: 30px;
}

#contact .contact-content .info .head{
    font-weight: 500;
    font-size: 1.2rem;
    
    
}
#contact .contact-content .info .sub-title{
    color: #28231D;
    font-size: 1rem;
}
#contact .contact-content .info .sub-title a{
    color: #28231D;
    font-size: 1rem;
}

#contact .contact-content .info .sub-title a:hover{
    color: #E60965;
    font-size: 1rem;
    text-decoration: underline;
}
#contact .contact-content .row i{
    font-size: 25px;
    color: #E60965;
}

#contact .right form .fields{
    display: flex;

}

#contact .right form .field, #contact .right form .fields .field{
   height: 45px;
   width: 100%;
   margin-bottom: 15px;
}
#contact .right form .name{
    margin-right: 10px;
}
#contact .right form .email{
    margin-left: 10px;
}

#contact .right form .textarea{
    height: 150px;
}

#contact .right form .field input, 
#contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
}

#contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}

#contact .right form .button{
    height: 47px;
    width: 50%;
}
#contact .right form .button button{
    height: 100%;
    width: 100%;
    font-size: 20px;
	color: white;
	background-color:  #E60965;
    border-radius: 6px;
	border: 2px solid #E60965;
	transition: all 0.3s ease;
    cursor: pointer;
}


#contact .right form button:hover {
	color: #E60965;
	background-color: transparent;
}

/* footer section */

footer{
    background: #FFC0D3;
    padding: 20px 23px;
    text-align: center;
}

footer span{
    color: #28231D;
    text-decoration: none;
}

footer span a:hover{
    text-decoration: underline;
}

footer span a{
    color: #E60965;
}


/* response media start */

@media (max-width: 1200px){
    .home .max-width{
        margin-left: 0;
    }

}



@media(max-width: 947px){

    .max-width{
        padding: 0 50px;
        margin: auto;

    }

    .menu-btn{
        z-index: 999;
        display: block;
    }

    .menu-btn i.active:before{
        content: "\f00d";
    }

    .navbar .menu{
        position: fixed;
        background-color: #FFC0D3;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }

    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;

    }

    .home .homeContent .name{
        font-size: 60px ;
    }

    .home .homeContent .title{
        font-size: 30px;
    }
    .home .homeContent a{
        font-size: 23px;
        padding: 10px 30px;
    }

    #about .about-content .column{
        width: 100%;
       
    }

    /* d ko sure */
    .max-width{
        max-width: 800px;
    }

    #about .about-content .col-left{
        display: flex;
        justify-content: center ;
        /* margin: 0 auto; */
        margin-bottom: 100px;

    }

    #about .about-content .col-right{
        flex: 100%;
        
    }


    #portfolios .portfolio-info h1 {
        font-size: 2rem;
        font-weight: 400;
        padding: 10px 10px;
        font-family: 'day_n_nite';
        color: #E60965;
        
    }
    #portfolios .portfolio-info p {
        font-size: 1rem;
        margin: 0;
        letter-spacing: 0;
        line-height: 2rem;
        
       
        
    }

    #contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px){

    .max-width{
        padding: 0 25px;
    }
    .home .homeContent .name{
        font-size: 50px ;
    }

    .home .homeContent .title{
        font-size: 32px;
        
    }

  
    #about .title{
        font-size: 40px;
        font-weight: 500;
        letter-spacing: 0.2rem;
    }

    #about .about-content .col-right .text {
        font-size: 1.2rem;
    }

    #portfolios .portfolio-info h1 {
        font-size: 2rem;
        font-weight: 400;
        padding: 10px 10px;
        font-family: 'day_n_nite';
        color: #E60965;
        margin-top: 0;
    }

    /* skills section */
    #skills .skills-content .column{
        width: 100%;
        margin-bottom: 30px;
    }

    /* portfolio */


    #portfolios .portfolio-item {
        flex-direction: column;
        
	}

    #portfolios .portfolio-item {
        height: 100%;
        /* margin: 0; */
        width: 100%;
        /* border-radius: 15%; */
        padding: 25px;
    }

    

    #portfolios .title{
        /* margin-bottom: 50px; */
        font-size: 40px;
        font-weight: 500;
        letter-spacing: 0.2rem;
    }

    #portfolios .portfolioList{
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #portfolios .portfolioList .portfolio-info .h1 {
        font-weight: 400;
        padding: 10px 10px;
        font-family: 'day_n_nite';
        color: #E60965;
        font-size: 10px;
        /* font-weight: 500; */
        letter-spacing: 0.2rem;
        margin-bottom: 10px;
    }
    #portfolios .portfolio-info h2 {
        font-size: 1.8rem;
        font-weight: 500;
        margin-top: 10px;
    }
    #portfolios .portfolio-info p {
        font-size: 1rem;
    }

    #portfolios .portfolio-item:nth-child(even) {
        flex-direction: column;
    }

    #portfolios .portfolio-img img{
        max-width: 100%;
        height: 100%;
    }



    
}




@media (max-width: 500px){


    .home .homeContent .name{
        font-size: 50px ;
    }

    .home .homeContent .title{
        font-size: 27px;
        
    }

    #about .about{
        flex-direction: column-reverse;
    }

    #about .col-left {
        width: 250px;
        height: 360px;
    }
    #about .col-right {
        width: 100%;
        font-size: 10px;
    }


}