@font-face {
    font-family: 'sabon';
    src: url('font/sabon_bold-webfont.woff'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'day_n_nite';
    src: url('font/day_n_nite_free_trial-webfont.woff'); 
    font-weight: normal;
    font-style: normal;
}

/* start of global css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "sabon";
    text-decoration: none;
    /* outline: none;
    border: none;
    text-decoration: none; */
}

html {
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;

}

.container{
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
    
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
    
}

p {
	color: black;
	font-size: 1.3rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 200;
	letter-spacing: 0.05rem;
}

section{
    padding: 100px 0;
}

.section-title {
	color: black;
    margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
    font-size: 75px;
    font-weight: 500;
    font-family: 'day_n_nite';
}
.section-title span {
	color: #E60965;
}

.cta{
    font-size: 1.5rem;
    padding: 20px 60px;
    display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color:  #E60965;
    border-radius: 6px;
	border: 2px solid #E60965;
	letter-spacing: 0.1rem;
	margin-top: 20px;
	transition: all 0.3s ease;

}

.cta:hover {
	color: #E60965;
	background-color: transparent;
}

/* Start of navigation bar */
.navbar{
    position: fixed;
    width: 100%;
    background-color: rgba(255, 192, 211, 0.3);
    padding: 15px 0;
    transition: all 0.3s ease;
    z-index: 1;
}

.navbar.sticky{
    padding: 15px 0;
    background-color: #FFC0D3;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: black;
    font-size: 35px;
    font-weight: 600;
    font-family: 'day_n_nite';
}

.navbar .menu li{
    list-style: none;
    display: inline-block;

}
.navbar .menu li a{
    color: black;
    font-size: 18px;
    font-weight: 300px;
    margin-left: 20px;
    font-family: 'sabon';
    transition: color 0.3s ease;

}

.navbar .menu li a:hover{
    color: #E60965

}


/* end of navbar */

/* start of menu-btn */

.menu-btn{
    color: #E60965;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* Start of home section */

.home{
    display: flex;
    background: url("images/1st.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 500px;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .homeContent .text{
    font-size: 30px;
}

.home .homeContent .name{
    font-size: 75px;
    font-weight: 500;
    margin-left: -3px;
    font-family: 'day_n_nite';
    margin-top: 20px;
}
.home .homeContent .title{
    font-size: 40px;
    margin: 5px 0;

}
.home .homeContent .title span{
    color: #E60965;
    font-weight: 500;
}


/* end of home section */

/* start of about section */




#about  {
	/* flex-direction: column-reverse; */
	/* text-align: center; */
	/* max-width: 1200px; */
	margin: 0 auto;
	/* padding: 100px 0px;  */
    flex-direction: row;
}

#about .title{
    position: relative;
    font-family: 'day_n_nite';
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

#about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background:#E60965;
    transform: translateX(-50%);
}

#about .title::after{
    content: "who i am";
    position: absolute;
    bottom: -12px;
    left: 50%;
    padding: 5px;
    background: #fff;
    font-size: 20px;
    transform: translateX(-50%);
    color: #E60965;
}

#about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: row; */
}
#about .about-content .col-left {
	width: 45%;
    

}

#about .about-content .col-right {
	width: 55%;
    
    /* align-items: center; */
   
}
#about .about-content .col-right .text {
	font-size:25px;
	font-weight: 600;
	/* letter-spacing: 0.2rem; */
	margin-bottom: 10px;
}
#about .about-content .col-right .text span{
	color: #E60965;
    
}

#about .about-content .col-right p {
	text-align: justify;
}



#about .about-content .col-left .about-img {
	height:400px;
	width: 350px;
	position: relative;
	border: 10px solid ;
    border-color: white;
}
#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid ;
	z-index: -1;
   

}

#about .about-content .col-left .about-img::after {
    left: -45px;
    top: 34px;
    height: 98%;
    width: 98%;
    border: 10px solid;
    border-color: #E60965;
    
}



/* End About Section */

/* Start of Portfolio Section */


#portfolios  {
    flex-direction: column;
    margin: 0 auto;
    padding: 50px 0;
    /* max-width: 1200px; */
    background-color: #FDF6F0;
}


#portfolios .title {
    position: relative;
    font-family: 'day_n_nite';
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 60px;
    padding-bottom: 20px;
}
#portfolios .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background:#E60965;
    transform: translateX(-50%);
}

#portfolios .portfolio-item {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    border-radius: 10px;
    /* margin: 20px auto; */
    overflow: hidden;
    max-width: 1200px;
	
}

#portfolios .portfolioList{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#portfolios .portfolio-item:nth-child(even) {
    flex-direction: row-reverse;
}
#portfolios .portfolio-item {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
}
#portfolios .portfolioList .portfolio-info {
    height: 100%;
}
#portfolios .portfolio-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: #FFC0D3;
    color: black;
}

#portfolios .portfolio-info h1 {
	font-size: 3rem;
	font-weight: 400;
    padding: 10px 10px;
    font-family: 'day_n_nite';
    color: #E60965;
}
/* #portfolios .portfolio-info h2 {
    font-size: 10rem;
    font-weight: 500;
    margin-top: 10px;
} */
#portfolios .portfolio-info p {
	color: #28231D;
    font-size: 20px;
    /* letter-spacing: 1px;
    line-height: 20px;
    padding: 10px 15px; */
    text-align: justify;
    position: relative;
}
#portfolios .portfolio-info p span{
	font-style: italic;
}

#portfolios .portfolioList .portfolio-img {
    height: 100%;
}

#portfolios .portfolio-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#portfolios .portfolio-img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #524A4E 40%, #FF8DC7 100%);
    opacity: 0.7;
}
#portfolios .portfolio-img img {
    transition: 0.3s ease transform;
}
#portfolios .portfolio-item:hover .portfolio-img img {
    transform: scale(1.1);
}

#portfolios .portfolio-item:nth-child(even) {
    flex-direction: row-reverse;
}

/* contact section */

#contact .title{
    position: relative;
    font-family: 'day_n_nite';
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 60px;
    padding-bottom: 20px;
}

#contact .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background:#E60965;
    transform: translateX(-50%);
}


/* response media start */

@media (max-width: 1200px){
    .home .max-width{
        margin-left: 0;
    }

}



@media(max-width: 947px){

    .max-width{
        padding: 0 50px;
        margin: auto;

    }

    .menu-btn{
        z-index: 999;
        display: block;
    }

    .menu-btn i.active:before{
        content: "\f00d";
    }

    .navbar .menu{
        position: fixed;
        background-color: #FFC0D3;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }

    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;

    }

    .home .homeContent .name{
        font-size: 60px ;
    }

    .home .homeContent .title{
        font-size: 30px;
    }
    .home .homeContent a{
        font-size: 23px;
        padding: 10px 30px;
    }

    #about .about-content .column{
        width: 100%;
       
    }

    /* d ko sure */
    .max-width{
        max-width: 800px;
    }

    #about .about-content .col-left{
        display: flex;
        justify-content: center ;
        /* margin: 0 auto; */
        margin-bottom: 100px;

    }

    #about .about-content .col-right{
        flex: 100%;
        
    }

    #about .about-content .col-right p{
        font-size: 1.5rem;
        

    }

    #portfolios .portfolio-info h1 {
        font-size: 2rem;
        font-weight: 400;
        padding: 10px 10px;
        font-family: 'day_n_nite';
        color: #E60965;
        margin-top: 25%;
    }
}

@media (max-width: 690px){

    .max-width{
        padding: 0 25px;
    }
    .home .homeContent .name{
        font-size: 50px ;
    }

    .home .homeContent .title{
        font-size: 32px;
        
    }

    /* .home .homeContent a{
        font-size: 20px;
    } */

    

    /* #about .about-content .col-left {
        width: 250px;
        height: 360px;
    }
    #about .about-content .col-right {
        width: 100%;
    }

 
    #about .col-right .section-title{
        font-size: 40px;
        font-weight: 500;
        letter-spacing: 0.2rem;
        margin-bottom: 10px;
    }
    #about .col-right p{

        font-size: 1rem;
    }

    #about .col-right h2{
        margin-bottom: 20px;
        font-size: 30px;
    }
    #about .col-right .cta {
        color: white;
        margin-bottom: 40px;
        padding: 10px 20px;
        font-size: 1rem;
    }

    #about .col-left .about-img {
        width: 250px;
        left: -40px;
    } */

    #about .title{
        font-size: 40px;
        font-weight: 500;
        letter-spacing: 0.2rem;
    }

    #about .about-content .col-right .text {
        font-size: 1.2rem;
    }

    #about .about-content .col-right p{
        font-size: 1.5rem;
        
    }

    #portfolios .portfolio-info h1 {
        font-size: 2rem;
        font-weight: 400;
        padding: 10px 10px;
        font-family: 'day_n_nite';
        color: #E60965;
        margin-top: 0;
    }



    /* portfolio */


    #portfolios .portfolio-item {
        flex-direction: column;
        
	}

    #portfolios .portfolio-item {
        height: 100%;
        /* margin: 0; */
        width: 100%;
        /* border-radius: 15%; */
        padding: 25px;
    }

    /* #portfolios .portfolios {
        max-width: 100%;
    } */
    

    #portfolios .title{
        /* margin-bottom: 50px; */
        font-size: 40px;
        font-weight: 500;
        letter-spacing: 0.2rem;
    }

    #portfolios .portfolioList{
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #portfolios .portfolioList .portfolio-info .h1 {
        font-weight: 400;
        padding: 10px 10px;
        font-family: 'day_n_nite';
        color: #E60965;
        font-size: 10px;
        /* font-weight: 500; */
        letter-spacing: 0.2rem;
        margin-bottom: 10px;
    }
    #portfolios .portfolio-info h2 {
        font-size: 1.8rem;
        font-weight: 500;
        margin-top: 10px;
    }
    #portfolios .portfolio-info p {
        font-size: 1rem;
    }

    #portfolios .portfolio-item:nth-child(even) {
        flex-direction: column;
    }

    #portfolios .portfolio-img img{
        max-width: 100%;
        height: 100%;
    }



    
}




@media (max-width: 500px){


    .home .homeContent .name{
        font-size: 50px ;
    }

    .home .homeContent .title{
        font-size: 27px;
        
    }

    #about .about{
        flex-direction: column-reverse;
    }

    #about .col-left {
        width: 250px;
        height: 360px;
    }
    #about .col-right {
        width: 100%;
    }


}