@font-face {
    font-family: 'sabon';
    src: url('font/sabon_bold-webfont.woff'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'day_n_nite';
    src: url('font/day_n_nite_free_trial-webfont.woff'); 
    font-weight: normal;
    font-style: normal;
}

/* start of global css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "sabon";
    text-decoration: none;
    /* outline: none;
    border: none;
    text-decoration: none; */
}

html {
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;

}

.container{
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

p {
	color: black;
	font-size: 1.3rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 200;
	letter-spacing: 0.05rem;
}

.section-title {
	color: black;
    margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
    font-size: 75px;
    font-weight: 500;
    font-family: 'day_n_nite';
}
.section-title span {
	color: #E60965;
}

.cta{
    font-size: 1.5rem;
    padding: 20px 60px;
    display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color:  #E60965;
    border-radius: 6px;
	border: 2px solid #E60965;
	letter-spacing: 0.1rem;
	margin-top: 20px;
	transition: all 0.3s ease;

}

.cta:hover {
	color: #E60965;
	background-color: transparent;
}

/* Start of navigation bar */
.navbar{
    position: fixed;
    width: 100%;
    background-color: rgba(255, 192, 211, 0.3);
    padding: 15px 0;
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 15px 0;
    background-color: #FFC0D3;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: black;
    font-size: 35px;
    font-weight: 600;
    font-family: 'day_n_nite';
}

.navbar .menu li{
    list-style: none;
    display: inline-block;

}
.navbar .menu li a{
    color: black;
    font-size: 18px;
    font-weight: 300px;
    margin-left: 20px;
    font-family: 'sabon';
    transition: color 0.3s ease;

}

.navbar .menu li a:hover{
    color: #E60965

}


/* end of navbar */

/* start of menu-btn */

.menu-btn{
    color: #E60965;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* Start of home section */

.home{
    display: flex;
    background: url("images/1st.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 500px;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .homeContent .text{
    font-size: 30px;
}

.home .homeContent .name{
    font-size: 75px;
    font-weight: 500;
    margin-left: -3px;
    font-family: 'day_n_nite';
    margin-top: 20px;
}
.home .homeContent .title{
    font-size: 40px;
    margin: 5px 0;

}
.home .homeContent .title span{
    color: #E60965;
    font-weight: 500;
}


/* end of home section */

/* start of about section */




#about .about {
	/* flex-direction: column-reverse; */
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
    flex-direction: row;
}
#about .col-left {
	width: 600px;
	height: 400px;
	padding-left: 60px;
    /* width: 250px;
	height: 360px; */

}


#about .col-right {
	text-align: center;
	padding: 30px;
    width: 100%;
   
}
#about .col-right h2 {
	font-size: 2rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
    color: #E60965;
}

#about .col-right p {
	margin-bottom: 20px;
    
}



#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid ;
    border-color: white;
}
#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid ;
    border-color: #E60965;
	z-index: -1;

}

#about .about .col-left .about-img::after {
    left: -45px;
    top: 34px;
    height: 98%;
    width: 98%;
    border: 10px solid;
    border-color: #E60965;
}

#about .col-right h1 {
    text-align: center;
}
/* End About Section */

/* response media start */

@media (max-width: 1104px){
    .home .max-width{
        margin-left: 0;
    }

}

@media (max-width: 991px){
    .max-width{
        margin-left: 0 50px;
    }

}

@media(max-width: 947px){

    .max-width{
        padding: 0 50px;
        margin: auto;

    }

    .menu-btn{
        z-index: 999;
        display: block;
    }

    .menu-btn i.active:before{
        content: "\f00d";
    }

    .navbar .menu{
        position: fixed;
        background-color: #FFC0D3;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }

    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;

    }

    .home .homeContent .name{
        font-size: 60px ;
    }

    .home .homeContent .title{
        font-size: 30px;
    }
    .home .homeContent a{
        font-size: 23px;
        padding: 10px 30px;
    }
}

@media (max-width: 690px){

    .max-width{
        padding: 0 25px;
    }
    .home .homeContent .name{
        font-size: 50px ;
    }

    .home .homeContent .title{
        font-size: 32px;
        
    }

    /* .home .homeContent a{
        font-size: 20px;
    } */

    #about .about{
        flex-direction: column-reverse;
    }

    #about .col-left {
        width: 250px;
        height: 360px;
    }
    #about .col-right {
        width: 100%;
    }

    /*  */
    #about .col-right .section-title{
        font-size: 32px;
        font-weight: 500;
        letter-spacing: 0.2rem;
        margin-bottom: 10px;
    }
    #about .col-right p{
        /* margin-top: 1px; */
        /* letter-spacing: 10px; */
        font-size: 1rem;
    }

    /* #about .col-right h2{
        margin-bottom: 20px;
        font-size: 32px;
    } */
    #about .col-right .cta {
        color: white;
        margin-bottom: 40px;
        padding: 10px 20px;
        font-size: 1rem;
    }

    #about .col-left .about-img {
        width: 250px;
        left: -40px;
    }

}

@media (max-width: 500px){


    .home .homeContent .name{
        font-size: 50px ;
    }

    .home .homeContent .title{
        font-size: 27px;
        
    }

    #about .about{
        flex-direction: column-reverse;
    }

    #about .col-left {
        width: 250px;
        height: 360px;
    }
    #about .col-right {
        width: 100%;
    }


}